

      <form (ngSubmit)="onSubmit($event)">
            <label for="ime">Ime</label>
            <input type="text" name="ime" id="ime" />
            <br>
            <label for="prezime">Prezime</label>
            <input type="text" name="prezime" id="prezime" />
            <br>
            <label for="lozinka">Lozinka</label>
            <input type="password" name="lozinka" id="lozinka" />
            <br>
            <label for="email">email</label>
            <input type="mail" name="email" id="email" />
            <br>
            <label for="korime">Korisničko ime</label>
            <input type="text" name="korime" id="korime" />
            <br>
            <input type="submit" value="Registriraj" id="registracija" />
        </form>
